/*default*/
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
/*container*/
.container {
  display: flex;
  gap: 10px;
}
/*box*/
.box {
  background-color: #a29bfe;
  color: #fff;
  flex: 1;
  padding: 20px;
  text-align: center;
}

/*media-querie*small*phone*/
@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }
}
