/* default  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/*--styling the box--*/
.box {
  background-color: blueviolet;
  padding: 20px;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

/*--media-queries-phone-*/
@media (max-width: 480px) {
  .box {
    background-color: #7f8fa6;
    font-size: 16px;
    padding: 20px;
  }
}

/*--media-queries-tablets-*/
@media (min-width: 481px) and (max-width: 768px) {
  .box {
    background-color: #e84118;
    font-size: 20px;
  }
}
